{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form id="loginForm" action="{{ path('login') }}" method="post" onsubmit="encodePassword()">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
    </div>

    <div>
        <input type="radio" id="sha1" name="algorithm" value="sha1">
        <label for="sha1">SHA1</label>

        <input type="radio" id="sha256" name="algorithm" value="sha256">
        <label for="sha256">SHA256</label>

        <input type="radio" id="md5" name="algorithm" value="md5">
        <label for="md5">MD5</label>
    </div>

        <button type="submit">Login</button>
    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jshashes/1.0.8/hashes.min.js"></script>
    <script type="text/javascript">

        // Chiffremment du mot de passe (avant envoi côté serveur)
        function encodePassword() {

            algorithm = document.querySelector("input[name='algorithm']:checked").value;
            password = document.getElementById("password").value;

            if (algorithm == "sha1") {
                document.getElementById("password").value = new Hashes.SHA1().hex(password);
            }
            else if (algorithm == "sha256") {
                document.getElementById("password").value = new Hashes.SHA256().hex(password);
            }
            else if (algorithm == "md5") {
                document.getElementById("password").value = new Hashes.MD5().hex(password);
            }
            console.log(algorithm + " : " + document.getElementById("password").value);
        }
    </script>
{% endblock %}